pap/host/build/app/views/layout.html
<!DOCTYPE html><html lang="en"><head><title>cqrs-sample - CQRS Sample with cqrs-domain, cqrs-eventdenormalizer, etc.</title><link href="/css/style.min.css" rel="stylesheet"></head><body><nav class="navbar navbar-default navbar-fixed-top"><div class="container"><div class="navbar-header"><button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">MIS</a></div><div id="navbar" class="collapse navbar-collapse"><ul class="nav navbar-nav"><li><a href="/index">Home</a></li><li><a href="/internships">Prácticas</a></li><li><a href="/students">Estudiantes</a></li><li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Añadir <span class="caret"></span></a><ul class="dropdown-menu"><li><a href="/internships/new">Práctica</a></li><li><a href="/students/new">Estudiante</a></li></ul></li></ul></div><!-- /.nav-collapse--></div></nav><!-- Begin page content--><div class="container"></div><footer class="footer"><div class="container"><p class="text-muted">Lidia Fernández Garcés for IAESTE España.</p></div></footer><script src="https://code.jquery.com/jquery-2.1.3.js" type="text/javascript"></script><script src="/js/lib/libs.js" type="text/javascript"></script><script src="/socket.io/socket.io.js" type="text/javascript"></script><script src="/js/app.js" type="text/javascript"></script></body></html>

pap/host/src/app/views/layout.jade
doctype html
html(lang="en")
    head
        title Management of Internships Microservice
        link(href='/css/style.min.css', rel='stylesheet')

    body
        nav.navbar.navbar-default.navbar-fixed-top
          .container
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='/') MIS
            #navbar.collapse.navbar-collapse
              ul.nav.navbar-nav
                li
                  a(href='/index') Home
                li
                  a(href='/internships') Internships
                li
                  a(href='/students') Students
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    | Add 
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href='/internships/new') Internship
                    li
                      a(href='/students/new') Student
            // /.nav-collapse
        // Begin page content
        .container
            block content

        footer.footer
          .container
            p.text-muted Lidia Fernández Garcés for TFG.
        
        script(src='https://code.jquery.com/jquery-2.1.3.js', type='text/javascript')
        script(src='/js/lib/libs.js', type='text/javascript')
        script(src='/socket.io/socket.io.js', type='text/javascript')
        script(src='/js/app.js', type='text/javascript')
